.input{
    background: #0b0b1357;
    box-shadow: inset 0px 1px 20px 0px rgb(5 6 12 / 80%);
    border: none;
    padding: 10px 20px;
    width: 200px;
    color: rgba(255, 255, 255, 0.658);
    font-size: 16px;
    border-radius: 10px;
    outline: none;
    text-align: center;
}


@media only screen and (max-width: 490px) {
    .input{
        background: #0b0b134b;
        box-shadow: inset 0px 1px 20px 0px rgb(5 6 12 / 80%);
        border: none;
        padding: 10px 20px;
        width: 200px;
        color: rgba(255, 255, 255, 0.658);
        font-size: 16px;
        border-radius: 10px;
        outline: none;
        text-align: center;
    }
}
